 @font-face{
  font-family: 'San Francisco';
  src: url('SFUIText-Light.otf');
}

@font-face{
  font-family: 'OpenSans-Light';
  src: url('../../ui/fonts/OpenSans-Light.ttf');
}

@font-face{
  font-family: 'OpenSans-Italic';
  src: url('../../ui/fonts/OpenSans-Italic.ttf');
}

@font-face{
  font-family: 'OpenSans-SemiBold';
  src: url('../../ui/fonts/OpenSans-SemiBold.ttf');
}


html {
  background-color: #56baed;
  font-family: 'San Francisco';
}
body{
  overflow: hidden;
  background-color: #dadada;
}

/* HEADER SECTION */
.window-header{
  flex-direction: row-reverse;
  height: 30px;
  margin-top: 4px;
  display: flex;
  text-align: center;
  align-items: center;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #dadada;
}
.block_drag{
  -webkit-app-region: no-drag  !important;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}

.header_title{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 9px 3px;
  color: var(--text-muted);
}
.winButton{
  line-height: 200px;
  position: relative;
  top: 0px;
  cursor: pointer;
  padding-top: 10px;
  width: 40px;
  height: 30px;
  pointer-events: auto;
  -webkit-app-region: no-drag;
}

.ButtonClose:hover{
  color: #fff;
  background-color: #f04747;
}
.ButtonMinMax:hover{
  background-color: rgba(83, 83, 83, 0.473);
  color: var(--interactive-hover);
}

.container-flex{
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
}

.svg_logo{
  width: 60px;
  margin-top: 5px;
}

/* END HEADER SECTION */

/* BODY SECTION */

.window-content{
  display: flex;
  height: 100vh;
}
.support-list{
  order: 1;
  height: 100vh;
  width: 5rem;
  background-color: #dadada;
}
.text_label{
  background: #7ab6ff;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px dotted #3583f7ed;
  color: #FFF;
}
.contentBody{
  order: 2;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}
#Description_info{
  font-family: 'OpenSans-Italic';
}
.support-type{
  order: 1;
  width: 300px;
  height: 100vh;
  background-color: #f3f3f3;
  border-radius: 8px 1px 1px 1px;
}
.support-type h5{
  text-align: center;
  padding-top: 15px;
}
.container-types p{
  margin: 4px 5px;
  cursor: pointer;
  color: #888;
  padding: 6px;
}
.type-active{
  background: #FFF;
  border-radius: 5px;
}
.support-content{
  order: 2;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  background-image: url(./../img/Droi_Logo.png);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}

.content-block{
  border: 3px dotted #56baed;
  text-align: center;
  height: 50px;
  margin: 14px 10px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
}
.content-icon{
  position: absolute;
  bottom: 40px;
  left: 43px;
  font-size: 19px;
  color: red;
}
.content-text{
  flex: 1;
  font-size: 20px;
  font-weight: 600;
}

.header-content{
  font-family: 'OpenSans-SemiBold';
  /* background: #4b99f9; */
  /* color: #FFF; */
  padding: 10px 0px;
}
.header-content h2{
  padding-top: 5px;
  border-bottom: 1px solid #0d6efd;
}
.info-support{
  display: none;
  height: 92vh;
  background: #FFF;
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 12px -4px;
}



.box-support{
  display: none;
  height: 92vh;
  background: #FFF;
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 12px -4px;
}
.evo-support{

}
.block-left{
  width: 100%;
}
.block-right{
  width: 350px;
}
.new-evo h3{
  background-color: #1271a1;
  color: #fff;
  text-align: center;
}
.table-list{
  max-width: 95%;
  margin-left: 2.5%;
}
.file_download{
  cursor: pointer;
  color: #003c94;
}
.btn-new-evo{
  right: 3%;
  position: fixed;
}
.div-new-evo{
  display: flex;
  border-bottom: 1px solid #00000029;
  height: 50px;
}

.inside-blocks-left{
  flex: 2 70%;
  margin-left: 20px;
}
.inside-blocks-right{
  flex: 1 30%;
}

.font_SF{
  font-family: 'San Francisco';
}
.body-content{
  display: flex;
  font-family: 'San Francisco';
  flex-flow: row wrap;
  justify-content: space-around;

}

.flex-item{
  /* background: tomato; */
  width: 245px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
}

.title-span{
  font-weight: 700;
}

label{
  margin-bottom: 0 !important;
  font-family: 'San Francisco';
}
p{
  margin-bottom: 0 !important;
  font-family: 'San Francisco';
}

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* FOOTER SECTION */
.window-footer{

}

